.signIn {
  color: #282c34;
  background-color: white;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 50px;
  transition: background-color 0.2s, color 0.2s;
}

.signIn:hover {
  background-color:#000000;
  color: #ffffff;
}

.introTitle {
  margin: 0 auto;
  color: #ffffff;
}

.introText {
  margin: 0 auto;
}
